		<div class="container">
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					
					

					<h1>Welcome to the About Page</h1>
					<h2>About Me</h2>
					<p>
						My name is Ahmadou Sy. I am actually a student at Secena Polytechnic. My program name is BTT.
					</p>
					
					
					<!-- End your code here  -->



				</main>
			</div>
		</div>
